# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\web进阶\day1\demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
